.plaid-button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 24px;
  color: white;
  border: 0px;
  border-radius: 7px;
  background-color: #3a3a78;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.plaid-button:hover::before {
  scale: 3;
}

.plaid-button:hover {
  color: white;
  scale: 1.15;
  box-shadow: 0 0px 20px rgb(58, 58, 120, 0.5);
}

.plaid-button:active {
  scale: 1;
}
